{% extends "teams/base.html" %}

{% load bootstrap4 %}

{% block content %}
	<h1>Account</h1>

	<div class="row">
		<div class="col-lg-6 mb-3">
			<div class="card">
				<h2 class="card-header">Update your details</h2>
				<div class="card-body">
					<form  action="" method="post">
						{% csrf_token %}
						{% bootstrap_form user_form layout='horizontal' %}
						{% bootstrap_formset profile_formset layout='horizontal' %}
						<h3>Details for {{ request.tenant }}</h3>
						{% if attendance_formset %}
							{% bootstrap_formset attendance_formset layout='horizontal' %}
						{% endif %}
						{% buttons %}
							<button class="btn btn-primary" type="submit">Update</button>
						{% endbuttons %}
					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-6 mb-3">
			<div class="card">
				{% if request.user.has_usable_password %}
					<h2 class="card-header">Change your password</h2>
					<div class="card-body">
						<form action="{% url 'account_change_password' %}" method="post">
							{% csrf_token %}
							{% bootstrap_form password_form layout='horizontal' %}
							{% buttons %}
								<button class="btn btn-primary" type="submit">Change Password</button>
							{% endbuttons %}
						</form>
					</div>
				{% else %}
					<h2 class="card-title">Set a password</h2>
					<div class="card-body">
						<form action="{% url 'account_set_password' %}?next={{ request.get_full_path | urlencode }}" method="post">
							{% csrf_token %}
							{% bootstrap_form password_form layout='horizontal' %}
							{% buttons %}
								<button class="btn btn-primary" type="submit">Set Password</button>
							{% endbuttons %}
						</form>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="col-lg-6 mb-3">
			<div class="card">
				<h2 class="card-header">Steam Account</h2>
				<div class="card-body">
					{% if steam_account %}
						<p>Your account is linked to the following Steam account</p>
						<a href="{{ steam_account }}">{{ steam_account }}</a>
					{% else %}
						<p>Link your Steam account using the link below</p>

						<div class="socialaccount_ballot">
							<ul class="socialaccount_providers">
								{% include "socialaccount/snippets/provider_list.html" with process="connect" %}
							</ul>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
