<table class="player-stats-table">
	<tbody>
		<tr>
			<th scope="row">Active players</td>
			<td>{{ active_players }}</td>
		</tr>
		<tr>
			<th scope="row">Teams which made at least one guess</td>
			<td>{{ active_teams }}</td>
		</tr>
		<tr>
			<th scope="row">Teams answering at least one puzzle</td>
			<td>{{ correct_teams }}</td>
		</tr>
		<tr>
			<th scope="row">Guesses made</td>
			<td>{{ guess_count }}</td>
		</tr>
	</tbody>
</table>
