<div class="alert-list">
	<b-alert v-for="announcement in announcements" v-bind:key="announcement.id" v-bind:variant="announcement.variant" dismissible="false" show><h2>{{ announcement.title }}</h2><p>{{ announcement.text }}</p></b-alert>
	<b-alert v-for="message in messages" v-bind:key="message.text" v-bind:variant="message.variant" dismissible="true" show><p>{{ message.text }}</p></b-alert>
</div>
